[submodule "project/tools/HokuyoInterface"]
	path = project/includes/libs/HokuyoInterface
	url = https://github.com/tik0/HokuyoInterface.git
[submodule "project/tools/mongoose"]
	path = project/includes/libs/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "project/tools/rsb_ws_bridge_amiro/mongoose"]
  path = project/tools/rsb_ws_bridge_amiro/mongoose
  url = https://github.com/cesanta/mongoose.git
[submodule "project/tools/rsb_ws_bridge_amiro/ProtoBuf.js"]
  path = project/tools/rsb_ws_bridge_amiro/ProtoBuf.js
  url = https://github.com/dcodeIO/ProtoBuf.js.git
[submodule "project/includes/cvplot"]
	path = project/includes/cvplot
	url = https://github.com/tik0/cvplot.git
