[submodule "project/tools/HokuyoInterface"]
	path = project/includes/libs/HokuyoInterface
	url = https://github.com/tik0/HokuyoInterface.git
[submodule "project/tools/mongoose"]
	path = project/includes/libs/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "project/tools/rsb_ws_bridge_amiro/mongoose"]
	path = project/process/misc/rsb_ws_bridge_amiro/mongoose
  url = https://github.com/cesanta/mongoose.git
[submodule "project/tools/rsb_ws_bridge_amiro/ProtoBuf.js"]
	path = project/process/misc/rsb_ws_bridge_amiro/ProtoBuf.js
  url = https://github.com/dcodeIO/ProtoBuf.js.git
[submodule "project/includes/cvplot"]
	path = project/includes/cvplot
	url = https://github.com/tik0/cvplot.git
[submodule "project/includes/libs/CoreSLAM"]
	path = project/includes/libs/CoreSLAM
	url = https://github.com/tik0/CoreSLAM.git
[submodule "project/ros/src/ros_astra_camera"]
	path = project/ros/src/ros_astra_camera
	url = https://github.com/orbbec/ros_astra_camera.git
[submodule "project/simulation/gazebo_models"]
	path = project/simulation/gazebo_models
	url = https://github.com/jexner/gazebo_models.git
[submodule "project/ros/src/amiro_robot"]
	path = project/ros/src/amiro_robot
	url = https://github.com/tik0/amiro_robot.git
[submodule "project/ros/src/mapserver"]
	path = project/ros/src/mapserver
	url = https://github.com/tik0/mapserver.git
[submodule "catkin_ws/src/amiro_robot"]
	path = catkin_ws/src/amiro_robot
	url = https://github.com/tik0/amiro_robot.git
[submodule "catkin_ws/src/turtlebot"]
	path = catkin_ws/src/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
[submodule "catkin_ws/src/hector_slam"]
	path = catkin_ws/src/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "catkin_ws/src/slam_gmapping"]
	path = catkin_ws/src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "catkin_ws/src/octomap_mapping"]
	path = catkin_ws/src/octomap_mapping
	url = https://github.com/OctoMap/octomap_mapping.git
[submodule "catkin_ws/src/octomap_ros"]
	path = catkin_ws/src/octomap_ros
	url = https://github.com/OctoMap/octomap_ros.git
[submodule "catkin_ws/src/frontier_exploration"]
	path = catkin_ws/src/frontier_exploration
	url = https://github.com/paulbovbel/frontier_exploration.git
