[submodule "project/includes/eigen"]
	path = project/includes/eigen
	url = https://github.com/vancegroup-mirrors/eigen.git
	branch = hg/3.2
[submodule "project/tools/HokuyoInterface"]
	path = project/tools/HokuyoInterface
	url = https://github.com/tik0/HokuyoInterface.git
[submodule "project/includes/orocos_kinematics_dynamics"]
	path = project/includes/orocos_kinematics_dynamics
	url = https://github.com/orocos/orocos_kinematics_dynamics.git
[submodule "project/includes/cvplot"]
	path = project/includes/cvplot
	url = https://code.google.com/p/cvplot/
[submodule "project/tools/mongoose"]
	path = project/tools/mongoose
	url = https://github.com/cesanta/mongoose.git
