# Data system
*.nfs*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
lib

# Eclipse Project files
.project
.cproject
.settings

# Shadow Files
*~
*kate-swp

# CMake files
CMakeCache.txt
*.cmake
CMakeFiles
Makefile
build
*.ninja*

# Backupfiles
*backup*
*Backup*

# QT Creator Files
murox_senseact.config
murox_senseact.creator
murox_senseact.files
murox_senseact.includes
murox_senseact.creator.user
*.autosave

#Catkin-Workspace
catkin_ws/devel/_setup_util.py
catkin_ws/devel/setup.sh
