<?xml version="1.0"?>
<model>
  <name>AMiRo Kinect</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Timo Korthals</name>
   <email>tkorthals@cit-ec.uni-bielefeld.de</email>
  </author>

  <description>
    Autonomous Mini Robot with Microsoft Kinect
  </description>
</model>
