amiroEnvironment
commandSimulation
stateMachineGEPTRO
drivingObjectDetection
senseRingProximity
stopAMiRo
localPlannerISY
mapGenerator
frontierExploration
motorControl
senseFloorProximity
objectDetection
objectDelivery
