<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
 <appender name="DailyRollingLogFileAppender" class="org.apache.log4j.rolling.RollingFileAppender">
 		<param name="file" value="Library.log"/>
 		<param name="append" value="true"/>
 		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
 			<param name="FileNamePattern" value="Library.log.%d{yyyy-MM-dd}"/>		
 		</rollingPolicy> 
 		<layout class="org.apache.log4j.PatternLayout">
 				<param name="ConversionPattern" value="%-5p %d %5rms %-22.22c{1} %-30.30M - %m%n" /> 
 		</layout> 
 	</appender>
  	<root>
 		<priority value="INFO" /> 	
 		<appender-ref ref="DailyRollingLogFileAppender"/>
 	</root> 

 </log4j:configuration>